.container {
    max-width: 1120px;
    margin: 0 auto;
}

.exitPreview {
    display: block;
    max-width: 721px;
    margin: 5rem auto;
    height: 3.6rem;
    line-height: 3.6rem;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    border-radius: 4px;
    color: #1A1D23;
    background:#f8f8f8;

}