.content {
    max-width: 721px;
    margin: 0 auto;

    button {
        font-weight: 600;
        font-size: 1.125rem;
        color: var(--highlight);
        margin-top: 4rem;
        background: transparent;
        border: none;
    }

    a {
        display: block;
    }
}

.post {
    h1 {
        font-weight: bold;
        color: var(--heading);
        font-size: 1.75rem;
        line-height: 2.125rem;
    }

    p {
        color: var(--body);
        font-size: 1.125rem;
        line-height: 1.375rem;
        margin-top: 0.5rem;
    }

    ul {
        display: flex;
        margin-top: 1.5rem;
        
        li {
            font-size: 0.875rem;
            line-height: 1rem;
            color: var(--info);
            list-style-type: none;
            display: flex;
            align-items: center;

            :first-child {
                margin-right: 0.5rem;
            }
        }

        li + li {
            margin-left: 1.5rem;
        }
    }

}

.post + .post {
    margin-top: 3rem;
}

